<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.hae.yl.mapper.ActivityMapper">

    <resultMap id="ActivityResultMap" type="org.hae.yl.entity.Activity">
        <result column="id" property="id"></result>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="place" property="place"></result>
        <result column="start_time" property="start_time"></result>
        <result column="end_time" property="end_time"></result>
        <result column="max_participants" property="max_participants"></result>
        <result column="created_at" property="created_at"></result>
    </resultMap>





<!--    <select id="selectBlog" resultType="org.hae.yl.entity.Activity">-->
<!--        select * from Blog where id = #{id}-->
<!--    </select>-->
</mapper>