<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.hae.yl.mapper.RoleMapper">

    <resultMap id="RoleResultMap" type="org.hae.yl.entity.Role">
        <result column="id" property="id"></result>
        <result column="name" property="name"></result>
        <result column="description" property="description"></result>
    </resultMap>




    <!--    <select id="selectBlog" resultType="org.hae.yl.entity.Activity">-->
    <!--        select * from Blog where id = #{id}-->
    <!--    </select>-->
</mapper>