<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.hae.yl.mapper.UserMapper">

    <resultMap id="RoleResultMap" type="org.hae.yl.entity.User">
        <result column="id" property="id"></result>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="real_name" property="real_name"></result>
        <result column="phone" property="phone"></result>
        <result column="avatar" property="avatar"></result>
        <result column="role_id" property="role_id"></result>
        <result column="status" property="status"></result>
        <result column="created_at" property="created_at"></result>
    </resultMap>


    <!--    <select id="selectBlog" resultType="org.hae.yl.entity.Activity">-->
    <!--        select * from Blog where id = #{id}-->
    <!--    </select>-->
</mapper>